Package: net.svedm.reveal-loader-v8
Conflicts: net.svedm.reveal-loader-v8
Replaces: net.svedm.reveal-loader-v8
Name: Reveal Loader For V8
Version: 1.0.0
Architecture: iphoneos-arm
Depends: mobilesubstrate, preferenceloader, applist
Maintainer: Richard Heard <cydia@rheard.com>
Author: Richard Heard <cydia@rheard.com>
Section: Tweaks
Description: dynamically loads Reveal into applications
 RevealLoader dynamically loads libReveal.dylib (Reveal.app support) into iOS apps
 on jailbroken devices. Configuration is via the Reveal menu in Settings.app
 For more info, see http://github.com/heardrwt/RevealLoader and http://revealapp.com
Tag: role::developer, purpose::extension
